.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(./WorkingWithEmotionalIntelligence.jpeg);
}
.container {
  width: 50% !important;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(./Jan28-2021.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(./Jul07-2020.jpg);
}
