.bg-img1 {
  background-color: #000;
  background-size: cover;
  /*làm tối phần ảnh để nổi bật text _hero section component*/
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(./WorkingWithEmotionalIntelligence.jpeg);
}
.container {
  width: 50% !important;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(./Jan28-2021.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(./Jul07-2020.jpg);
}
@media (max-width: 414px) {
  /*chuyển lại phần thông tin thành cột*/
  html,
  body {
    overflow-x: hidden;

    .container {
      width: 100% !important;
    }
  }
}
